<div class="home-container">
  <div class="welcome-section">
    <h1>Bem-vindo, {{userName}}!</h1>
  </div>

  <!-- Pedido Atual -->
  <div class="current-order" *ngIf="currentOrder">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <mat-icon [class]="getStatusClass(currentOrder.status)">{{getStatusIcon(currentOrder.status)}}</mat-icon>
          Pedido Atual #{{currentOrder.id}}
        </mat-card-title>
        <mat-card-subtitle>
          Status: {{currentOrder.status}}
          <span *ngIf="currentOrder.estimatedTime" class="estimated-time">
            (Tempo estimado: {{currentOrder.estimatedTime}} min)
          </span>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div class="order-items">
          <div *ngFor="let item of currentOrder.itens" class="order-item">
            <span class="item-quantity">{{item.quantity}}x</span>
            <span class="item-title">{{item.nome}}</span>
            <span class="item-price">R$ {{(item.valor * item.quantity).toFixed(2)}}</span>
          </div>
        </div>
        <div class="order-total">
          <strong>Total:</strong> R$ {{currentOrder.total.toFixed(2)}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Histórico de Pedidos -->
  <div class="order-history">
    <h2>Histórico de Pedidos</h2>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let order of orderHistory">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon [class]="getStatusClass(order.status)">{{getStatusIcon(order.status)}}</mat-icon>
            Pedido #{{order.id}}
          </mat-panel-title>
          <mat-panel-description>
            {{ order.dataHora | date:'dd/MM/yyyy HH:mm:ss' }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div>
          <p><strong>Código:</strong> {{ order.numero }}</p>
          <p><strong>Total:</strong> {{ order.total }}</p>
          <p><strong>Troco:</strong> {{ order.troco !== null ? order.troco : 'Não aplicável' }}</p>
        </div>

        <div class="order-items">
          <div *ngFor="let item of order.produtos" class="order-item">
            <span class="item-quantity">{{returnQuantity(item.id, order.id)}}x</span>
            <span class="item-title">{{item.nome}}</span>
            <span class="item-price">R$ {{(item.valor).toFixed(2)}}</span>


            <div *ngIf="item.observacoes" class="item-customization">
              <strong>Observações:</strong> {{item.observacoes}}
            </div>
          </div>
        </div>

        <div class="order-total">
          <strong>Total:</strong> R$ {{order.total.toFixed(2)}}
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
